<footer class="lg:absolute bottom-0 w-full mx-auto text-center p-8 print:hidden text-sm space-y-4 lg:flex lg:justify-center lg:space-y-0 lg:space-x-8">
  <p class="flex justify-center space-x-4">
    <span><img src="{% asset images/icons/envelope.svg %}" class="inline w-6 h-6 align-middle"><span class="link email ml-2">hello at railfinder dot eu</span></span>
    <a href="https://www.linkedin.com/company/railfinder/" class="link"><img src="{% asset images/icons/linkedin.svg %}" class="inline w-6 h-6"></a>
  </p>
  {% comment %}
  <p>
    <span>We're hiring! <a href="/jobs" class="link">See open positions</a></span>
  </p>
  {% endcomment %}
</footer>
